


.header-gradient {
  background: linear-gradient(to right, #4f46e5, #06b6d4);
  padding: 10px 14px;
  border-radius: 6px;
  color: #fff;
}

.table-wrapper {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #e5e7eb;
}

table {
  width: 100%;
  text-align: center;
}



th,
td {
  padding: 10px;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

button mat-icon {
  transition: 0.2s;
}

button:hover mat-icon {
  transform: scale(1.1);
}


.table th {
  border-top: none;
}
